# Machine Learning in Python

<!--"CTRL /" comment in Markdown in Jupyter -->
In this box there is a way to comment Markdowns in Jupyter

<!--youtube video fro doing this ML model-->
<!--https://www.youtube.com/watch?v=7eh4d6sabA0&t=1375s-->

In [1]:
# "CTRL /" comment in code in Jupyter
# In this box there is a way to comment code in Jupyter

In [5]:
# importing libraries
import pandas as pd
import numpy as np

In [16]:
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [29]:
# music_data.drop(0) removes the "row 0" in the table
music_data.drop(0).head(3) #.head(3) is for show just 3 rows

   age  gender   genre
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz

In [32]:
# music_data.drop(1) removes the "row 1" in the table
music_data.drop(1).head(3) #.head(3) is for show just 3 rows

   age  gender   genre
0   20       1  HipHop
2   25       1  HipHop
3   26       1    Jazz

In [35]:
# column 'genre' was deleted
X = music_data.drop(columns =['genre'])
X.head(3)

   age  gender
0   20       1
1   23       1
2   25       1

In [36]:
Y = music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

## Decision Tree Model - ML

In [111]:
# we are going to run a "decision tree" algorithm
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


# reading the file
music_data = pd.read_csv('music.csv')

# we are going to split the data set in two

# dropping column 'genre' from the dataset
X = music_data.drop(columns =['genre'])
# adding column 'genre' as a separate column of the dataset
Y = music_data['genre']

# this gives a 20% of the data for testing
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

# running the model
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)

# adding "X_test" as samples to test the algorithm
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)

score

0.75

## Decision Tree Model - ML with joblib option

In [112]:
# we are going to run a "decision tree" algorithm
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns =['genre'])
Y = music_data['genre']

# this gives a 20% of the data for testing
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

# running the model
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)

joblib.dump(model, 'music-recommender.joblib')

<class 'ImportError'>: cannot import name 'joblib' from 'sklearn.externals' (/lib/python3.11/site-packages/sklearn/externals/__init__.py)