# Introduction to Python

### Chapter 1 - Python Basics

In [26]:
print("Result is: ", 4+5)

# Subtraction
print("Result is: ", 5-5)

# Multiplication
print("Result is: ", 3*5)

# Division, result is a float
print("Result is: ", 10/2)

# Division, result is  a int
print("Result is: ", 10//2)

Result is:  9
Result is:  0
Result is:  15
Result is:  5.0
Result is:  5

In [30]:
# Create a variable savings
savings = 100

# Print out savings
print ("Savings = ",savings)

Savings =  100

In [3]:
# Create the variables monthly_savings and num_months
monthly_savings = 10
num_months = 4

# Multiply monthly_savings and num_months, save the result as new_savings
new_savings = monthly_savings * num_months

# Add new_savings to your savings, save the sum as total_savings
total_savings = new_savings + savings

# Print total_savings
print(total_savings)

140

In [31]:
# Create a variable half
half = 0.5
print(half)

# Create a variable intro
intro = "Hello! How are you?"
print(intro)

# Create a variable is_good
is_good = True
print(is_good)

0.5
Hello! How are you?
True

In [5]:
monthly_savings = 10
num_months = 12
intro = "Hello! How are you?"

# Calculate year_savings using monthly_savings and num_months
year_savings = monthly_savings*num_months
print(year_savings)

# Print the type of year_savings
print(type(year_savings))

# Assign sum of intro and intro to doubleintro
doubleintro = intro + ' ' + intro

# Print out doubleintro
print(doubleintro)

120
<class 'int'>
Hello! How are you? Hello! How are you?

In [35]:
# Definition of savings and total_savings
savings = 100
total_savings = 150

# Fix the printout converting the variables int to str
print("I started with $" + str(savings) + " and now have $" + str(total_savings) + ". Awesome!")

# Fix the printout without converting the variables
print("I started with $",savings," and now have $",total_savings,". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"
print(type(pi_string))

# Convert pi_string into float: pi_float
pi_float = float(pi_string)
print(type(pi_float))

I started with $100 and now have $150. Awesome!
I started with $ 100  and now have $ 150 . Awesome!
<class 'str'>
<class 'float'>

### Chapter 2 - Python Lists

In [36]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

**subsetting lists**

In [37]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [40]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as a list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [39]:
#Subsetting lists

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

In [11]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3]+areas[-3]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [44]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs =areas[0:6]
print("First way to slice downstairs:   ", downstairs)

# Alternative slicing to create downstairs
downstairs =areas[:6]
print("Second way to slice downstairs:  ", downstairs)

# Use slicing to create upstairs
upstairs =areas[6:10]
print("First way to slice upstairs:     ", upstairs)

# Alternative slicing to create upstairs
upstairs =areas[6:]
print("Second way to slice upstairs:    ", upstairs)

First way to slice downstairs:    ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
Second way to slice downstairs:   ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
First way to slice upstairs:      ['bedroom', 10.75, 'bathroom', 9.5]
Second way to slice upstairs:     ['bedroom', 10.75, 'bathroom', 9.5]

In [45]:
#manipulation Lists

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[9] = 10.50

# Change "living room" to "chill zone"
areas[4] = "chill zone"

print (areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [48]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]

print(areas)
print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [50]:
# Create a list of areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create a copy of the areas list
areas_copy = list(areas)  # Alternatively, use areas_copy = areas[:]

# Modify the first element of the areas_copy list
areas_copy[0] = 5.0

# Print both the original areas list and the modified areas_copy list
print("Original areas:", areas)
print("Modified areas_copy:", areas_copy)

Original areas: [11.25, 18.0, 20.0, 10.75, 9.5]
Modified areas_copy: [5.0, 18.0, 20.0, 10.75, 9.5]

### Chapter 3 - Functions and Packages

In [54]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out the type of var1 and var2
print("Type of var1:", type(var1))
print("Type of var2:", type(var2))

# Print out the length of var1
print("Length of var1:", len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)
print("True became an integer:", out2)

Type of var1: <class 'list'>
Type of var2: <class 'bool'>
Length of var1: 4
True became an integer: 1

In [58]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Concatenate first and second into a new list: full
full = first + second
print("Concatenated List:", full)

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse=True)

# Print out full_sorted
print("Sorted in Descending Order:", full_sorted)

Concatenated List: [11.25, 18.0, 20.0, 10.75, 9.5]
Sorted in Descending Order: [20.0, 18.0, 11.25, 10.75, 9.5]

In [18]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count("o"))

poolhouse
POOLHOUSE
3

In [19]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

In [59]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [60]:
# Import the math package
import math

# Definition of radius
r = 0.43

# Calculate C
C = 2*math.pi*r

# Calculate A
A = math.pi*pow(r,2)

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

In [64]:
# Import radians function of math package
from math import radians

# Definition of radius
r = 192500

# Travel angle of the Moon over 12 degrees
angle_degrees = 12

# Convert angle to radians using radians() function
angle_radians = radians(angle_degrees)

# Calculate the travel distance using the formula: distance = radius * angle
dist = r * angle_radians

# Print out dist
print(dist)

40317.10572106901

### Chapter 4 - NumPy

The MLB also offers to let you analyze their weight data. Again, both are available as regular Python lists: height_in and weight_lb. height_in is in inches and weight_lb is in pounds.

It's now possible to calculate the BMI of each baseball player. Python code to convert height_in to a numpy array with the correct units is already available in the workspace. Follow the instructions step by step and finish the game! height_in and weight_lb are available as regular lists.

In [75]:
# Import necessary libraries
import pandas as pd  # pandas for data manipulation and analysis
import numpy as np   # numpy for numerical operations

# Read the MLB (Baseball) dataset into a pandas DataFrame
mlb = pd.read_csv("MLB (Baseball).txt")

# Extract height and weight data into separate lists
height_in = mlb['Height'].tolist()  # List of heights in inches
weight_lb = mlb['Weight'].tolist()  # List of weights in pounds

In [76]:
# Import numpy
import numpy as np

# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball) 

# Print out type of np_baseball
print(type(np_baseball))
print(np_baseball)

<class 'numpy.ndarray'>
[180 215 210 210 188 176 209 200]

In [73]:
# Import numpy
import numpy as np

# Create array from height_in with metric units: np_height_m
np_height_m = np.array(height_in) * 0.0254

# Create array from weight_lb with metric units: np_weight_kg
np_weight_kg = np.array(weight_lb) * 0.453592

# Calculate the BMI: bmi
bmi = np_weight_kg / np_height_m ** 2

# Print out bmi
print(bmi)

[23.11037639 27.60406069 28.48080465 ... 25.62295933 23.74810865
 25.72686361]

In [74]:
# Import numpy
import numpy as np

# Calculate the BMI: bmi
np_height_m = np.array(height_in) * 0.0254  # Convert height to meters
np_weight_kg = np.array(weight_lb) * 0.453592  # Convert weight to kilograms
bmi = np_weight_kg / np_height_m ** 2  # Calculate BMI

# Create the light array for players with BMI below 21
light = bmi < 21

# Print out the boolean array indicating players with BMI below 21
print("BMI below 21:", light)

# Print out BMIs of all baseball players whose BMI is below 21
print("BMIs of players with BMI below 21:", bmi[light])

[False False False ... False False False]
[20.54255679 20.54255679 20.69282047 20.69282047 20.34343189 20.34343189
 20.69282047 20.15883472 19.4984471  20.69282047 20.9205219 ]

In [78]:
#Subsetting NumPy Arrays

# Import numpy
import numpy as np

# Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

# Print out the weight at index 50
print(np_weight_lb[50])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[100:111])

200
[73 74 72 73 69 72 73 75 75 73 72]

#### Your First 2D NumPy Array

In [ ]:
# Import numpy
import numpy as np

# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

#### Subsetting 2D NumPy Arrays

If your 2D numpy array has a regular structure, i.e. each row and column has a fixed number of values, complicated ways of subsetting become very easy. Have a look at the code below where the elements "a" and "c" are extracted from a list of lists.

For regular Python lists, this is a real pain. For 2D numpy arrays, however, it's pretty intuitive! The indexes before the comma refer to the rows, while those after the comma refer to the columns. The : is for slicing; in this example, it tells Python to include all rows.

In [ ]:
#Example how to extract the first element from each nested list in a list

# regular list of lists
x = [["a", "b"], ["c", "d"]]
[x[0][0], x[1][0]]

# numpy
import numpy as np
np_x = np.array(x)
np_x[:, 0]

array(['a', 'c'], dtype='<U1')

In [ ]:
np_baseball

array([[180. ,  78.4],
       [215. , 102.7],
       [210. ,  98.5],
       [188. ,  75.2]])

In [91]:
# Provided baseball data
baseball = [[74, 180], [74, 215], [72, 210], [72, 210], [73, 188], [69, 176], [69, 209], [71, 200], [76, 231], [71, 180],
            [73, 188], [73, 180], [74, 185], [74, 160], [69, 180], [70, 185], [73, 189], [75, 185], [78, 219], [79, 230],
            [76, 205], [74, 230], [76, 195], [72, 180], [71, 192], [75, 225], [77, 203], [74, 195], [73, 182], [74, 188],
            [78, 200], [73, 180], [75, 200], [73, 200], [75, 245], [75, 240], [74, 215], [69, 185], [71, 175], [74, 199],
            [73, 200], [73, 215], [76, 200], [74, 205], [74, 206], [70, 186], [72, 188], [77, 220], [74, 210], [70, 195],
            [73, 200], [75, 200], [76, 212], [76, 224], [78, 210], [74, 205], [74, 220], [76, 195], [77, 200], [81, 260],
            [78, 228], [75, 270], [77, 200], [75, 210], [76, 190], [74, 220], [72, 180], [72, 205], [75, 210], [73, 220],
            [73, 211], [73, 200], [70, 180], [70, 190], [70, 170], [76, 230], [68, 155], [71, 185], [72, 185], [75, 200],
            [75, 225], [75, 225], [75, 220], [68, 160], [74, 205], [78, 235], [71, 250], [73, 210], [76, 190], [74, 160],
            [74, 200], [79, 205], [75, 222], [73, 195], [76, 205], [74, 220], [74, 220], [73, 170], [72, 185], [74, 195],
            [73, 220], [74, 230], [72, 180], [73, 220], [69, 180], [72, 180], [73, 170], [75, 210], [75, 215], [73, 200],
            [72, 213], [72, 180], [76, 192], [74, 235], [72, 185], [77, 235], [74, 210], [77, 222], [75, 210], [76, 230],
            [80, 220], [74, 180], [74, 190], [75, 200], [78, 210], [73, 194], [73, 180], [74, 190], [75, 240], [76, 200],
            [71, 198], [73, 200], [74, 195], [76, 210], [76, 220], [74, 190], [73, 210], [74, 225], [70, 180], [72, 185],
            [73, 170], [73, 185], [73, 185], [73, 180], [71, 178], [74, 175], [74, 200], [72, 204], [74, 211], [71, 190],
            [74, 210], [73, 190], [75, 190], [75, 185], [79, 290], [73, 175], [75, 185], [76, 200], [74, 220], [76, 170],
            [78, 220], [74, 190], [76, 220], [72, 205], [74, 200], [76, 250], [74, 225], [75, 215], [78, 210], [75, 215],
            [72, 195], [74, 200], [72, 194], [74, 220], [70, 180], [71, 180], [70, 170], [75, 195], [71, 180], [71, 170],
            [73, 206], [72, 205], [71, 200], [73, 225], [72, 201], [75, 225], [74, 233], [74, 180], [75, 225], [73, 180],
            [77, 220], [73, 180], [76, 237], [75, 215], [74, 190], [76, 235], [75, 190], [73, 180], [71, 165], [76, 195]]

In [ ]:
# Create np_baseball (2 cols)
np_baseball = np.array(baseball)

# Print out the 50th row of np_baseball
print(np_baseball[49,:])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb=np_baseball[:,1]

# Print out height of 124th player
print(np_baseball[123,0])

[ 70 195]
75

#### 2D Arithmetic

In [ ]:
# another example
np_mat = np.array([[1, 2],
                   [3, 4],
                   [5, 6]])
np_mat * 2
np_mat + np.array([10, 10])
np_mat + np_mat

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [ ]:

# Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

# Print out the weight at index 50

print(np_weight_lb[50])
# Print out sub-array of np_height: index 100 up to and including index 110
print(np_height_in[100:111])

200
[73 74 72 73 69 72 73 75 75 73 72]

#### Average versus median

You now know how to use numpy functions to get a better feeling for your data. It basically comes down to importing numpy and then calling several simple functions on the numpy arrays:

    import numpy as np

    x = [1, 4, 8, 10, 12]

    np.mean(x)

    np.median(x)

The baseball data is available as a 2D numpy array with 3 columns (height, weight, age) and 200 rows. The name of this numpy array is np_baseball. After restructuring the data, however, you notice that some height values are abnormally high. Follow the instructions and discover which summary statistic is best suited if you're dealing with so-called outliers.

In [82]:
# Provided baseball data
baseball = [[74, 180], [74, 215], [72, 210], [72, 210], [73, 188], [69, 176], [69, 209], [71, 200], [76, 231], [71, 180],
            [73, 188], [73, 180], [74, 185], [74, 160], [69, 180], [70, 185], [73, 189], [75, 185], [78, 219], [79, 230],
            [76, 205], [74, 230], [76, 195], [72, 180], [71, 192], [75, 225], [77, 203], [74, 195], [73, 182], [74, 188],
            [78, 200], [73, 180], [75, 200], [73, 200], [75, 245], [75, 240], [74, 215], [69, 185], [71, 175], [74, 199],
            [73, 200], [73, 215], [76, 200], [74, 205], [74, 206], [70, 186], [72, 188], [77, 220], [74, 210], [70, 195],
            [73, 200], [75, 200], [76, 212], [76, 224], [78, 210], [74, 205], [74, 220], [76, 195], [77, 200], [81, 260],
            [78, 228], [75, 270], [77, 200], [75, 210], [76, 190], [74, 220], [72, 180], [72, 205], [75, 210], [73, 220],
            [73, 211], [73, 200], [70, 180], [70, 190], [70, 170], [76, 230], [68, 155], [71, 185], [72, 185], [75, 200],
            [75, 225], [75, 225], [75, 220], [68, 160], [74, 205], [78, 235], [71, 250], [73, 210], [76, 190], [74, 160],
            [74, 200], [79, 205], [75, 222], [73, 195], [76, 205], [74, 220], [74, 220], [73, 170], [72, 185], [74, 195],
            [73, 220], [74, 230], [72, 180], [73, 220], [69, 180], [72, 180], [73, 170], [75, 210], [75, 215], [73, 200],
            [72, 213], [72, 180], [76, 192], [74, 235], [72, 185], [77, 235], [74, 210], [77, 222], [75, 210], [76, 230],
            [80, 220], [74, 180], [74, 190], [75, 200], [78, 210], [73, 194], [73, 180], [74, 190], [75, 240], [76, 200],
            [71, 198], [73, 200], [74, 195], [76, 210], [76, 220], [74, 190], [73, 210], [74, 225], [70, 180], [72, 185],
            [73, 170], [73, 185], [73, 185], [73, 180], [71, 178], [74, 175], [74, 200], [72, 204], [74, 211], [71, 190],
            [74, 210], [73, 190], [75, 190], [75, 185], [79, 290], [73, 175], [75, 185], [76, 200], [74, 220], [76, 170],
            [78, 220], [74, 190], [76, 220], [72, 205], [74, 200], [76, 250], [74, 225], [75, 215], [78, 210], [75, 215],
            [72, 195], [74, 200], [72, 194], [74, 220], [70, 180], [71, 180], [70, 170], [75, 195], [71, 180], [71, 170],
            [73, 206], [72, 205], [71, 200], [73, 225], [72, 201], [75, 225], [74, 233], [74, 180], [75, 225], [73, 180],
            [77, 220], [73, 180], [76, 237], [75, 215], [74, 190], [76, 235], [75, 190], [73, 180], [71, 165], [76, 195]]

In [87]:
#for "Height"


# Convert the provided data to a NumPy array
np_baseball = np.array(baseball)

# Calculate and print the average height
avg = np.mean(np_baseball[:, 0])
print("Average Height: " + str(avg))

# Calculate and print the median height
med = np.median(np_baseball[:, 0])
print("Median Height: " + str(med))

# Calculate and print the standard deviation of height
stddev = np.std(np_baseball[:, 0])
print("Standard Deviation of Height: " + str(stddev))

# Calculate and print the correlation between the first and second columns
corr = np.corrcoef(np_baseball[:, 0], np_baseball[:, 1])
print("Correlation between the first and second columns: " + str(corr))

Average Height: 73.83
Median Height: 74.0
Standard Deviation of Height: 2.2893448844593074
Correlation between the first and second columns: [[1.         0.55676088]
 [0.55676088 1.        ]]

In [88]:
#for "Weight"

# Provided baseball data
baseball = [[74, 180], [74, 215], [72, 210], [72, 210], [73, 188], [69, 176], [69, 209], [71, 200], [76, 231], [71, 180],
            [73, 188], [73, 180], [74, 185], [74, 160], [69, 180], [70, 185], [73, 189], [75, 185], [78, 219], [79, 230],
            [76, 205], [74, 230], [76, 195], [72, 180], [71, 192], [75, 225], [77, 203], [74, 195], [73, 182], [74, 188],
            [78, 200], [73, 180], [75, 200], [73, 200], [75, 245], [75, 240], [74, 215], [69, 185], [71, 175], [74, 199],
            [73, 200], [73, 215], [76, 200], [74, 205], [74, 206], [70, 186], [72, 188], [77, 220], [74, 210], [70, 195],
            [73, 200], [75, 200], [76, 212], [76, 224], [78, 210], [74, 205], [74, 220], [76, 195], [77, 200], [81, 260],
            [78, 228], [75, 270], [77, 200], [75, 210], [76, 190], [74, 220], [72, 180], [72, 205], [75, 210], [73, 220],
            [73, 211], [73, 200], [70, 180], [70, 190], [70, 170], [76, 230], [68, 155], [71, 185], [72, 185], [75, 200],
            [75, 225], [75, 225], [75, 220], [68, 160], [74, 205], [78, 235], [71, 250], [73, 210], [76, 190], [74, 160],
            [74, 200], [79, 205], [75, 222], [73, 195], [76, 205], [74, 220], [74, 220], [73, 170], [72, 185], [74, 195],
            [73, 220], [74, 230], [72, 180], [73, 220], [69, 180], [72, 180], [73, 170], [75, 210], [75, 215], [73, 200],
            [72, 213], [72, 180], [76, 192], [74, 235], [72, 185], [77, 235], [74, 210], [77, 222], [75, 210], [76, 230],
            [80, 220], [74, 180], [74, 190], [75, 200], [78, 210], [73, 194], [73, 180], [74, 190], [75, 240], [76, 200],
            [71, 198], [73, 200], [74, 195], [76, 210], [76, 220], [74, 190], [73, 210], [74, 225], [70, 180], [72, 185],
            [73, 170], [73, 185], [73, 185], [73, 180], [71, 178], [74, 175], [74, 200], [72, 204], [74, 211], [71, 190],
            [74, 210], [73, 190], [75, 190], [75, 185], [79, 290], [73, 175], [75, 185], [76, 200], [74, 220], [76, 170],
            [78, 220], [74, 190], [76, 220], [72, 205], [74, 200], [76, 250], [74, 225], [75, 215], [78, 210], [75, 215],
            [72, 195], [74, 200], [72, 194], [74, 220], [70, 180], [71, 180], [70, 170], [75, 195], [71, 180], [71, 170],
            [73, 206], [72, 205], [71, 200], [73, 225], [72, 201], [75, 225], [74, 233], [74, 180], [75, 225], [73, 180],
            [77, 220], [73, 180], [76, 237], [75, 215], [74, 190], [76, 235], [75, 190], [73, 180], [71, 165], [76, 195]]

# Convert the provided data to a NumPy array
np_baseball = np.array(baseball)

# Calculate and print the average weight
avg_weight = np.mean(np_baseball[:, 1])
print("Average Weight: " + str(avg_weight))

# Calculate and print the median weight
med_weight = np.median(np_baseball[:, 1])
print("Median Weight: " + str(med_weight))

# Calculate and print the standard deviation of weight
stddev_weight = np.std(np_baseball[:, 1])
print("Standard Deviation of Weight: " + str(stddev_weight))

# Calculate and print the correlation between the first and second columns
corr_weight = np.corrcoef(np_baseball[:, 0], np_baseball[:, 1])
print("Correlation between the first and second columns: " + str(corr_weight))

Average Weight: 201.845
Median Weight: 200.0
Standard Deviation of Weight: 21.138613365119294
Correlation between the first and second columns: [[1.         0.55676088]
 [0.55676088 1.        ]]

#### Explore the baseball data

Because the mean and median are so far apart, you decide to complain to the MLB. They find the error and send the corrected data over to you. It's again available as a 2D Numpy array np_baseball, with three columns.

The Python script on the right already includes code to print out informative messages with the different summary statistics. Can you finish the job?

In [89]:
# Create np_height_in from np_baseball
np_height_in=np_baseball[:,0]

# Print out the mean of np_height_in
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

73.83
74.0

### NumPy - Exercise Complete Baseball

In this exercise, our goal is to harness the capabilities of Python, specifically leveraging key libraries such as `numpy` and `pandas`, to conduct a thorough analysis of a baseball dataset. Through the use of `pandas`, we read the dataset into a DataFrame, allowing us to explore and extract pertinent information such as player weights and heights. The subsequent conversion of these data points into NumPy arrays enables us to perform essential array operations, access individual elements, and create a 2D array for more in-depth analysis. As we delve into array properties, calculate basic statistics on height, including average and median, and explore the correlation between height and weight, this Jupyter Notebook serves as an interactive guide, providing a hands-on experience in utilizing Python for data manipulation and statistical insights, all within the fascinating context of baseball analytics.

In [112]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Step 1: Read the MLB (Baseball) dataset into a pandas DataFrame
mlb = pd.read_csv("MLB (Baseball).txt")
print(mlb.head(3))  # Print the first 3 rows of the DataFrame

# Step 2: Extract weight and height columns from the DataFrame
weight_lb = mlb['Weight'].tolist()
height_in = mlb['Height'].tolist()

# Step 3: Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

# Step 4: Access individual elements in the arrays
print("Weight at index 50:", np_weight_lb[49])  # Indexing starts from 0
print("Height from index 100 to 110:", np_height_in[99:110])

# Step 5: Create np_baseball from the DataFrame
np_baseball = mlb[['Height', 'Weight']].to_numpy()

# Step 6: Explore the properties of np_baseball
print("Type of np_baseball:", type(np_baseball))
print("Shape of np_baseball:", np_baseball.shape)
print("50th row of np_baseball:", np_baseball[49, :])
print("Height of 124th player:", np_baseball[123, 0])

# Step 7: Calculate statistics for height, same way to do for "weight"
avg_height = np.mean(np_baseball[:, 0])
med_height = np.median(np_baseball[:, 0])
stddev_height = np.std(np_baseball[:, 0])
corr_height_weight = np.corrcoef(np_baseball[:, 0], np_baseball[:, 1])

# Step 8: Print height statistics, same way to do for "weight"
print("Average Height:", avg_height)
print("Median Height:", med_height)
print("Standard Deviation of Height:", stddev_height)
print("Correlation between Height and Weight:", corr_height_weight[0, 1])

# Step 9: Print additional statistics for height, same way to do for "weight"
print("Mean of Height:", np.mean(np_height_in))
print("Median of Height:", np.median(np_height_in))

              Name Team Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL  Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL  Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL  Catcher      72     210  30.78     Catcher
Weight at index 50: 195
Height from index 100 to 110: [74 73 74 72 73 69 72 73 75 75 73]
Type of np_baseball: <class 'numpy.ndarray'>
Shape of np_baseball: (1015, 2)
50th row of np_baseball: [ 70 195]
Height of 124th player: 75
Average Height: 73.6896551724138
Median Height: 74.0
Standard Deviation of Height: 2.312791881046546
Correlation between Height and Weight: 0.5315393226146092
Mean of Height: 73.6896551724138
Median of Height: 74.0